<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>
	<!-- Barra de Navegación superior -->
	<nav th:replace="fragments/nav" />
	<div class="container">
		<h2 th:text="#{listUser.message}"></h2>
		<p th:text="#{listUser.introduction}"></p>

		<button type="button" class="btn btn-default">Eliminar</button>
		<script th:inline="javascript">
			/*<![CDATA[*/
			$("#deleteButton").click(function() {
				$.get("/admin/delete", function(data) {
					$("#tableUsers").load('/admin/listUsers');
				});
			});
			/*]]>*/
		</script>

		<div class="table-responsive">
			<table class="table table-hover" th:fragment="tableUsers"
				id="tableUsers">
				<thead>
					<tr>
						<th th:text="#{name}"></th>
						<th th:text="#{lastName}"></th>
						<th th:text="#{email}"></th>
				</thead>
				<tbody>
					<tr th:each="user : ${usersList}">
						<td th:text="${user.name}"></td>
						<td th:text="${user.lastName}"></td>
						<td th:text="${user.email}"></td>
						<td><input type="checkbox" th:name="userChecked"
							th:value="${user}" /></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<footer th:replace="fragments/footer" />
</body>
</html>