<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>
	<!-- Barra de Navegación superior -->
	<nav th:replace="fragments/nav" />
	
	<div class="container">
		<h2 th:text="#{addPost.message}"></h2>
		<form class="form-horizontal" method="post" action="/post/addPost" enctype="multipart/form-data" th:object="${post}">
			
	 		<div class="form-group">
		   		<label for="file"></label>
		   		<input type="file" class="form-control-file" name="file" accept="image/*">
	  		</div>
		
			<div class="form-group">
				<label class="control-label col-sm-2" for="title" th:text="#{post.title}"></label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="title"
						th:placeholder="#{post.title.placeholder}"/>
					<span class="text-danger" th:if="${#fields.hasErrors('title')}"
 							th:errors="*{title}">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="text" th:text="#{post.text}"></label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="text"
						th:placeholder="#{post.text.placeholder}"/>
					<span class="text-danger" th:if="${#fields.hasErrors('text')}"
 							th:errors="*{text}">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary" th:text="#{post.add}"></button>
				</div>
			</div>
		</form>
	</div>
</body>
</html>
