<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>
	<!-- Barra de Navegación superior -->
	<nav th:replace="fragments/nav" />
	<div class="container">
		<h2 th:text="#{listPost.message}"></h2>
		<p th:text="#{listPost.introduction}"></p>
		<div class="panel panel-info" th:each="post : ${listPost}">
			<div class="panel-heading" th:text="${post.title}"></div>
			<div class="panel-body" th:text="${post.date}"></div>
			<div class="panel-body" th:text="${post.text}" th:if="${friend}"></div>
		</div>
	</div>
	<footer th:replace="fragments/pagination" />
</body>
</html>
